.badge {
    height: 150px;
}

.theTeamName {
    font-size: 3em;
    margin-bottom: 10px;
}


.teamDescription {
    background-color: coral;
    color: white;
    width: 50vw;
    height: 200px;
    position: relative;
    margin: 20px;
    left: 21vw;
    overflow: scroll;
    padding: 10px;
    text-align: left;
    border: 3px solid black;
}

.abv {
    font-size: 15px;
    font-style: italic;
    color: red
}

.roster {
    list-style-type: none;
    text-align: left;
  
}

.eachPlayer {
    margin: 5px;
    display: flex;
    align-items: center;
    color: black;
}

.eachPlayer > img {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 10px;
}

.teamRoster {
    display: flex;
    flex-direction: column;
    align-items: center;
}