.badge {
    height: 150px;
    margin: 20px;
}

.teamHeader {
    padding: 5px;
    background-color: bisque;
    border-bottom: 2px solid black;
    height: 20vh;
}

.headerInfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.teamName {
    font-size: 8vw;
    margin: 2px;
    color: #222
}

.headerInfo > img {
    height: 19vh;
}

.teamDescription {
    background-color: #222;
    color: lightgray;
    width: 35vw;
    margin: 10px;
    height: 30vh;
    overflow: scroll;
    padding: 10px 15px;
    text-align: left;
    border: 3px solid red;
}

.teamStuff {
    padding: 20px;
    width: 60vw;
    height: 160vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamDescription > h3 {
    margin: 0px;
}

.abv {
    font-size: 15px;
    font-style: italic;
    color: red
}

.roster {
    padding-top: 8px;
    margin-bottom: 20px;
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    width: 38vw;
    height: 70%;
    justify-content: center;
    /* border: 2px solid white; */
    overflow: scroll;
    background-color: rgba(20, 98, 1, 0.2);
    border: 2px solid #222;
    /* padding: 20px 0 20px 0 */
}

.eachPlayer {
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    background-color: lightseagreen;
    padding: 2px;
   width: 150px;
   border: 2px solid black
}

.eachPlayer > img {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: white;
    border-radius: 50%;
   
   
}

.teamRoster {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.playerName {
    margin: 2px;
    font-size: 14px;
    width: 60%;
}

.teamDetails {
    display: flex;
    width: 100vw;
   
}

.social {
    height: 50px;
    width: 50px;
    margin: 10px;
}

.teamLinks {
    background-color: bisque;
    border: 2px solid black;
    width: 100vw;
    display: flex;
    justify-content: space-around;
 
    align-items: center;
    flex-wrap: wrap;
    height: 12vh;
}

iframe {
    margin: 10px; 
    width:50vw !important;
    border: 3px solid red;
    height: 50vh !important;
    padding: 10px;
    background-color: bisque;
}


.schedule {
    height: 32vh; 
    width: 50vw; 
    background-color: red;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 2px;
    font-weight: bold;
    border: 2px solid red;
    
    
}

.eachGame {
    background-color: lightseagreen;
    height: 80%;
    margin: 2px;
    padding: 10px;
}

.eventTitle {
    margin: 0 0 8px 0;
    color: #222;
    font-size: 1.3em
}

.eventTime {
    background-color:rgba(164, 233, 164, 0.67);
    border: 2px solid #222;
    margin: 2px;
    color: #222;
    width: 25%;
    padding: 5px;
    height: 30px;
    font-size: 1.2vw;
}

.eventDate {
    background-color:rgba(164, 233, 164, 0.67);
    border: 2px solid #222;
    margin: 2px;
    color:  #222;
    font-size: 1.2vw;
    width: 25%;
    padding: 5px;
    height: 30px;
}

.eventLeague {
    background-color:rgba(164, 233, 164, 0.67);
    border: 2px solid #222;
    margin: 2px;
    color: red;
    font-size: 1.5vw;
    width: 45%;
    padding: 5px;
    height: 30px;
}

.gameDetails {
    display: flex;
    justify-content: space-evenly;   
    align-items: center;
}

table {
    width: 50vw;
    background-color: bisque;
    margin-bottom: 20px;
    padding: 5px;
    color: lightgray;
}


.tableElement {
    width: 50px;
    text-align: center;
    padding: 3px;
    font-size: 1.1vw;
}

.tableTeamName {
    text-align: left;
    padding: 6px;
    font-size: 1.2vw;
    width: 10vw;
    color: yellow;
    background-color: rgba(34,2,0,.6);
}


.tableRow {
    border: 25px solid black;
    background-color: #222;
}
.tableRow:nth-child(2n) {
    background: seagreen;
    color: #222;
  }

.tableHead {
    color: #222;
    font-size: 1.3vw;
    justify-content: center;
}

.tableTitle {
    width: 50vw;
    background-color: bisque;
    text-align: center;
    height: 30px;
    padding-top: 3px;
    color: #222;
    font-size: 1.2em;
    font-weight: bold;

}

.teamInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 178vh;
    background-color: lightgray;
}

.leagueTable {
    height: 60vh; 
    overflow: scroll;
}

.theTable {
    border: 5px solid red
}

.squad {
    margin-top:10px;
    padding: 20px 0;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    width: 38vw;
    background-color: rgba(34, 2, 0, 0.6);
    border-top: 2px solid #222;
    border-right: 2px solid #222;
    border-left: 2px solid #222;
}

.points {
    width: 50px;
    text-align: center;
    padding: 3px;
    font-size: 1.1vw;
    color: yellow;
    background-color: rgba(34,2,0,.6);
}

.shareButtons {
    width: 50vw; 
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;

}


.navlink {
    position: fixed;
    left: 0; 
    top: 0;
    color: white; 
    font-weight: bolder;
    background-color: rgba(34,2,0,.6);
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    /* text-decoration: none; */
    /* background-color: red; */
  
}